<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      
      <div class="col-xs-4" id="nav-header">
        <p id="nav-title">Habit Tracking</p>
      </div>

      <div class="col-xs-7" id="account-button">
        <div class ="pull-right">
            <ul class="nav nav-pills">
              <li role="presentation" class="dropdown">
                <a href="#" id="drop1" role="button" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span><span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop1">
                  {{#if user.username}}
                    <li><a href="/index"><p id="nav-activity">Dashboard</p></a></li>
                    <li><a href="/logout"><p id="nav-logout">Logout</p></a></li>
                    <li><a href="#"><p id="nav-upload">Upload More</p></a></li>
                  {{else}}
                    <li><a href="/login"><p id="nav-login">Login</p></a></li>
                    <li><a href="/register"><p id="nav-register">Register</p></a></li>
                  {{/if}}
                </ul>
              </li>
            </ul>
        </div>
      </div>

    </div>
    <div class="row" id="filter-tags">
    </div>
  </div>
</nav>

{{#if errorMessage}}
  <div class="alert alert-danger">
    <div class="container">
      {{errorMessage}}
    </div>
  </div>
{{/if}}

              
