<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      
      <div class="col-xs-5 hidden-xs" id="nav-header">
        <p id="nav-title"><a href="/">Stanley Stevens</a></p>
      </div>
      <div class="col-xs-3 hidden-sm hidden-md hidden-lg hidden-xl" id="nav-header">
        <p id="nav-title"><a href="/">Stanley</a></p>
      </div>

      <div class="col-xs-2">
      </div>

      <div class="col-xs-5 hidden-xs" id="account-button">
        <div class="pull-right">
          <div class="row">
            <a href="/">Homepage</a> | 
            <a href="/habits">Daily Habits</a> | 
            <a href="/portfolio">Portfolio</a> | 
             <div role="presentation" class="dropdown">
                <a href="#" id="drop1" role="button" class="dropdown-toggle" data-toggle="dropdown">Links<span class="caret" id="account-setting-man"></span></a>
                <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dLabel">
                    <li><a href="http://www.github.com/stanleyyork" target="_blank"><img src="/images/github.png" class="link-logo"> GitHub</a></li>
                    <li><a href="http://www.linkedin.com/in/stanleystevens" target="_blank"><img src="/images/linkedin.png" class="link-logo"> LinkedIn</a></li>
                    <li><a href="http://www.twitter.com/stanleyyork" target="_blank"><img src="/images/twitter.jpg" class="link-logo"> Twitter</a></li>
                    <li><a href="http://www.medium.com/@stanleyyork" target="_blank"><img src="/images/medium.png" class="link-logo"> Medium</a></li>
                    <li><a href="http://www.clarelegere.com/stanleystevens" target="_blank"><img src="/images/clarelegere_logo.png" class="link-logo"> Reading</a></li>
                </ul>
              </div>
          </div>
        </div>
      </div>
      <div class="col-xs-5 hidden-sm hidden-md hidden-lg hidden-xl" id="account-button">
        <div class ="pull-right">
            <a href="/">Homepage</a> |  
            <a href="/portfolio">Portfolio</a>
        </div>
      </div>
    </div>
    <div class="row" id="filter-tags">
    </div>
  </div>
</nav>



{{#if errorMessage}}
  <div class="alert alert-danger">
    <div class="container">
      {{errorMessage}}
    </div>
  </div>
{{/if}}

              
