<!DOCTYPE html>
<html lang="en">
<head>

  <!-- set viewport to device width to make site responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="/styles/main.css">

	<meta charset="UTF-8">
	<title>Activity</title>
</head>
<body>

	{{> nav}}
	
	<p id="user-info" data-id={{user._id}}></p>
	<h1 id="activity-name">{{activityName}}</h1>
	<br>
	<div class="thumbnail" id="thumbnail-chart"><div id="GSDChart"></div></div>
	<div class="row" id="activity-template"></div>

	<!-- plotly -->
	<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<!-- jquery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- bootstrap js -->
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- handlebars -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
	<!-- index.js -->
	<script type="text/javascript" src="/scripts/activity.js"></script>
	
</body>
</html>