<!DOCTYPE html>
<html lang="en">
<head>
	<!-- set viewport to device width to make site responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap css -->
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- custom styles -->
	<link rel="stylesheet" type="text/css" href="/styles/main.css">
	<meta charset="UTF-8">
	<title>Data Structure Settings</title>
</head>
<body>

	{{> nav}}

	<h1>Data Structure</h1>
	<div class="row" id="username-header" user-id={{user._id}}></div>

	<div class="row" id="data-structure-list">
    <script id="datastructure-template" type="text/x-handlebars-template"> 
    	<div class="thumbnail">
        	\{{#each datastructure}}
        		<form id="datastructure-form-\{{this}}">
	        		\{{#each this}}
					<input type="text" class="datastructure-form-class" value= "\{{this}}" >
	        		\{{/each}}
	        		<input type="submit" class="btn btn-primary">
        		</form>
      		\{{/each}}
      	</div>
    </script>
  </div>
	
	<!-- jquery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- bootstrap js -->
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- handlebars -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
	<!-- index.js -->
	<script type="text/javascript" src="/scripts/datastructure.js"></script>
</body>
</html>