<!DOCTYPE html>
<html lang="en">
<head>
	<!-- set viewport to device width to make site responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap css -->
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- custom styles -->
	<link rel="stylesheet" type="text/css" href="/styles/main.css">
	<meta charset="UTF-8">
	<title>Data Structure Settings</title>
</head>
<body>

	{{> nav}}

	{{user.activities.length}}<br>
	Pillar (text) || Category (text) || Activity (text) || Daily Habit (checkbox) <br>
	
	<!-- jquery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- bootstrap js -->
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- index.js -->
	<script type="text/javascript" src="/scripts/datastructure.js"></script>
</body>
</html>