<!DOCTYPE html>
<html lang="en">
<head>
	<!-- set viewport to device width to make site responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap css -->
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- custom styles -->
	<link rel="stylesheet" type="text/css" href="/styles/main.css">

	
	<script src="Chart.js"></script>
	<meta charset="UTF-8">
	<title>Stanley Stevens</title>
</head>
<body>

	{{> nav}}

	<div class="row" id="index-header">
		<div class="col-sm-10 hidden-xs">
			<div class="oneline" id="header-hello">Hello.</div><div class="oneline" id="header-copy">My name is Stanley. I love data, personal growth, reading and building things.
			<div class="link-logos">
				<a href="http://www.github.com/stanleyyork" target="_blank"><img src="/images/github.png" class="link-logo"></a>
				<a href="http://www.linkedin.com/in/stanleystevens" target="_blank"><img src="/images/linkedin.png" class="link-logo"></a>
				<a href="http://www.twitter.com/stanleyyork" target="_blank"><img src="/images/twitter.jpg" class="link-logo"></a>
				<a href="http://www.medium.com/@stanleyyork" target="_blank"><img src="/images/medium.png" class="link-logo"></a>
				<a href="http://www.clarelegere.com/stanleystevens" target="_blank"><img src="/images/clarelegere_logo.png" class="link-logo"></a>
			</div>
			</div>
		</div>
		<div class="col-xs-10 hidden-sm hidden-md hidden-lg hidden-xl">
			<p>Hello. My name is Stanley. I love data, personal growth, reading and building things.</p>
			<div class="link-logos">
				<a href="http://www.github.com/stanleyyork" target="_blank"><img src="/images/github.png" class="link-logo"></a>
				<a href="http://www.linkedin.com/in/stanleystevens" target="_blank"><img src="/images/linkedin.png" class="link-logo"></a>
				<a href="http://www.twitter.com/stanleyyork" target="_blank"><img src="/images/twitter.jpg" class="link-logo"></a>
				<a href="http://www.medium.com/@stanleyyork" target="_blank"><img src="/images/medium.png" class="link-logo"></a>
				<a href="http://www.clarelegere.com/stanleystevens" target="_blank"><img src="/images/clarelegere_logo.png" class="link-logo"></a>
			</div>
		</div>
	</div>
	<div class="mobile-seperator hidden-sm hidden-md hidden-lg hidden-xl">
		<hr>
		<p id="mobile-header">READING</p>
	</div>
	<div class="hidden-xs">
		<br>
	</div>
	
	<div id="username-header" user-id={{user._id}}></div>
	<div class="container index">
	<div class="current_stats">
		
		<!-- 1: READING -->
		<div class="row" id="section">
			<div class="col-xs-1 icons hidden-sm hidden-xs">
				<div class="stats-header reading">
		    		<div class="stats-header-content icon reading">
		    			<span class="glyphicon icon glyphicon-book" data-toggle="tooltip" data-placement="bottom" title="Reading"></span>
		    		</div>
		    		<div class="stats-header-content sources reading">
		    			<a href="http://www.clarelegere.com/profiles/1" target="_blank"><span class="glyphicon glyphicon-stats" data-toggle="tooltip" data-placement="bottom" title="Data Source: ClareLegere.com (click for details)"></span></a>
		    			<span class="glyphicon glyphicon-italic" data-toggle="tooltip" data-placement="bottom" title="Data Source: Instapaper"></span>
		    		</div>
		    	</div>
			</div>
			<div class="col-xs-1 pillars hidden-sm hidden-xs">
				<div class="stats-header-content pillars reading" data-toggle="tooltip" data-placement="right" title="Life Pillars associated with Reading: Cognitive Intelligence">
		    			C
		    	</div>
			</div>
			<div class="col-xs-10">
		    	<div class="stats-body reading">
		    		<div class="stats-body-content reading">
		    			<div class="row">
			    			<div class="col-md-3 total_bookmarks_col">
								<div class="total_bookmarks"></div>
								<div class="total_bookmarks_copy">stories read since 2010, equating to ~34/week and a total of </div>
							</div>
							<div class="col-md-3 days_read_this_month hidden-xs">
								<center>
								<canvas id="myPieChart" width="200" height="125">
									<div id="this_month_days_count_chart"></div>
								</canvas>
								</center>
							</div>
							<div class="col-md-5">
							<div class="starred_articles_copy">Recently Starred Articles:</div>
								<div class="all_starred_artiles">
								
									<div class="starred_articles" id="starred_articles-1"></div>
									<br>

									<div class="starred_articles" id="starred_articles-2"></div>
									<br>

									<div class="starred_articles" id="starred_articles-3"></div>
									<br><br>
								</div>
								<div class="reading_streak"></div>

							</div>
						</div>
		    		</div>
		    	</div>
		    </div>
		</div>
		
		<div class="mobile-seperator hidden-sm hidden-md hidden-lg hidden-xl">
			<hr>
			<p id="mobile-header">HEALTH</p>
		</div>
		
		<!-- 2: PHYSICAL -->
		<div class="row" id="section">
			<div class="col-xs-1 icons hidden-sm  hidden-xs">
				<div class="stats-header physical">
		    		<div class="stats-header-content icon physical">
		    			<span class="glyphicon icon glyphicon-heart" data-toggle="tooltip" data-placement="bottom" title="Sleep & Steps"></span>
		    		</div>
		    		<div class="stats-header-content sources physical">
		    			<span class="glyphicon glyphicon-apple" data-toggle="tooltip" data-placement="bottom" title="Data Source: Apple Health"></span>
		    			<a href="http://www.coach.me/users/2f6f674caa3cf1c240ac/activity" target="_blank"><span class="glyphicon glyphicon-copyright-mark" data-toggle="tooltip" data-placement="bottom" title="Data Source: Coach.me (click for details)"></span></a>
		    		</div>
		    	</div>
			</div>
			<div class="col-xs-1 pillars hidden-xs">
				<div class="stats-header-content pillars physical" data-toggle="tooltip" data-placement="right" title="Life Pillars associated with Sleeping and Step Count: Physical Health">
			    	P
			    </div>
			</div>
			<div class="col-xs-10">
			    <div class="thumbnailx stats">
			    	<div class="stats-body physical">
			    		<div class="stats-body-content physical">
							<div class="row">
								<div class="col-md-3">
									<canvas id="mySleepPieChart" width="250" height="125">
										<div id="this_month_sleep_days_count_chart"></div>
									</canvas>
									<div id="nights_slept_copy">
										Nights slept > 7 hours (last month)
									</div>
								</div>
				    			<div class="col-md-7 hidden-xs">
					    			<canvas id="myStepLineChart" width="500" height="175">
										<div id="StepCountChart"></div>
									</canvas>
									<div id="average_step_copy">
										<p>Averaged 250k steps per month in 2015</p>
									</div>
								</div>
							</div>
			    		</div>
			    	</div>
			    </div>
		    </div>
		</div>

		<div class="mobile-seperator hidden-sm hidden-md hidden-lg hidden-xl">
			<hr>
			<p id="mobile-header">HABITS</p>
		</div>

		<!-- 3: HABITS -->
		<div class="row" id="section">
			<div class="col-xs-1 icons hidden-sm hidden-xs">
				<div class="stats-header habits">
		    		<div class="stats-header-content icon habits">
		    			<span class="glyphicon icon glyphicon-calendar" data-toggle="tooltip" data-placement="bottom" title="Daily Habits"></span>
		    		</div>
		    		<div class="stats-header-content sources habits">
		    			<a href="http://www.coach.me/users/2f6f674caa3cf1c240ac/activity" target="_blank"><span class="glyphicon glyphicon-copyright-mark" data-toggle="tooltip" data-placement="bottom" title="Data Source: Coach.me (click for details)"></span></a>
		    		</div>
		    	</div>
			</div>
			<div class="col-xs-1 pillars hidden-xs">
				<div class="stats-header-content pillars habits a" data-toggle="tooltip" data-placement="right" title="Life Pillars associated with Daily Habits: Cognitive Intelligence, Physical Health and Pyschological & Emotional Health">
		    			C
		    	</div>
			</div>
			<div class="col-xs-10">
			    <div class="thumbnailx stats">
			    	<div class="stats-body habits">
			    		<div class="stats-body-content habits">
			    			<div class="col-sm-5">
			    				<div class="row" id="streaks-list">
				    				<p>Longest Streaks (Days)</p>
				    				<canvas id="myStreakLineChart" width="175" height="350">
											<div id="streakChart"></div>
									</canvas>
			    				</div>
			    			</div>
			    			<div class="col-sm-5">
				    			<canvas id="myDailyHabitsLineChart" width="350" height="215">
									<div id="DailyHabitsChart"></div>
								</canvas>
								<p id="daily-habits-copy">Daily Habits (last month)</p>
							</div>
			    		</div>
			    	</div>
			    </div>
		    </div>
		</div>
	    
    </div>
    </div>

	<!-- plotly -->
	<script type="text/javascript" src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<!-- jquery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- bootstrap js -->
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- handlebars -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
	<!-- chart js -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	<!-- index.js -->
	<script type="text/javascript" src="/scripts/index.js"></script>
</body>
</html>