<!-- login.hbs -->
<!DOCTYPE html>
<html lang="en">
<head>

	<!-- set viewport to device width to make site responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- bootstrap css -->
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<!-- custom styles -->
	<link rel="stylesheet" type="text/css" href="/styles/main.css">
	<meta charset="UTF-8">

	<title>Login</title>
</head>
<body>

	{{> nav}}

	<div class="container">
		<div class="row">
			<div class="col-md-1">
			</div>
			<div class="col-xs-2">
			</div>
			<div class="col-sm-6" id="login">
				<center><h2>Log In</h2></center>
				<br>
				<form method="POST" action="/login">
				  <div class="form-group">
				    <input type="text" name="username" class="form-control" placeholder="Username" autofocus>
				  </div>
				  <div class="form-group">
				    <input type="password" name="password" class="form-control" placeholder="Password">
				  </div>
				  <div class="form-group">
				    <input type="submit" class="btn btn-block btn-primary" value="Log In">
				  </div>
				</form>
			</div>
		</div>
	</div>

	<!-- jquery -->
  	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  	<!-- bootstrap js -->
  	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

</body>
</html>