<!DOCTYPE html>
<html lang="en">
<head>
	<!-- set viewport to device width to make site responsive -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- bootstrap css -->
	<link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

	<!-- custom styles -->
	<link rel="stylesheet" type="text/css" href="/styles/main.css">

	<meta charset="UTF-8">
	<title>Photography</title>
</head>
<body>

	{{> nav}}

	<div class="col-xs-11 hidden-xs">
		<iframe src="http://snapwidget.com/in/?u=c3RhbmxleXlvcmt8aW58MjUwfDR8MTB8fG5vfDUwfG5vbmV8b25TdGFydHxub3xubw==&ve=220216" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:1200px; height:3000px"></iframe>
	</div>
	<div class="col-xs-11 hidden-sm hidden-md hidden-lg hidden-xl">
		<iframe src="http://snapwidget.com/in/?u=c3RhbmxleXlvcmt8aW58MTUwfDJ8MTB8fG5vfDM1fG5vbmV8b25TdGFydHxub3xubw==&ve=220216" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:370px; height:1850px"></iframe>
	</div>
	<!-- jquery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
	<!-- bootstrap js -->
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<!-- handlebars -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
	<!-- photography.js -->
	<script type="text/javascript" src="/scripts/photography.js"></script>
</body>
</html>