<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Post Register</title>
</head>
<body>
	Thank you for signing-up, I'll let you know if/when we launch the site to rest of the interwebs.
</body>
</html>