#nav-title {
	margin-top: 5px;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	color: #545454;
}

#nav-title > a {
  text-decoration: none;
  color: #545454;
}

.navbar {
	height: 60px;
}

#nav-header {
	margin-top: 9px;
	margin-left: 20px;
	font-size: 18px;
}

#account-setting-man {
	text-decoration: none;
  	color: #545454;
}

#account-button {
	margin-top: 10px;
}

.dropdown-menu {
	background-color: #fafafa;
    left: auto;
    min-width: 125px;
    max-width: 150px;
}

.dropdown-menu > li > a > p {
	margin-top: 7px;
}

#filter-tags {
	margin-left: 50px;
	max-width: 1000px
}

body {
	margin-top: 75px;
	margin-left: 25px;
	margin-right: 10px;
	color: #545454;
	background-color: #fafafa;
}

.div.hidden {
   display: none
}

#login {
	max-width: 400px;
}

#register {
	max-width: 400px;
}

.error {
	color: red;
}

#complete-checkmark-csv {
	color: #3c763d;
}

#complete-checkmark-xml {
	color: #3c763d;
}

.headline {
	font-size: 16px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.thumbnail {
	margin-left: 15px;
	max-width: 1050px;
	padding: 20px;
}

.thumbnail.edit-profile {
	max-width: 450px;
}

.thumbnail.index {
	margin-left: 15px;
	width: 200px;
	height: 300px;
	display:inline-block;
	margin-top: 20px;
}

.category-header {
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	height: 30%;
	margin: -20px;
	padding: 0px;
	border: none;
	opacity: 0.75;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.category-body {
	margin-top: 5px;
	height: 70%;
	font-size: 16px;
	vertical-align: middle;
}

.category-header.category-a{
	background-color: #0080FF;
}

.category-header.category-b{
	background-color: #0db40d;
}

.category-header.category-c{
	background-color: #ffe910;
}

.category-header.category-d{
	background-color: #FF7F00;
}

.category-header.category-e{
	background-color: #d43434;
}

.catheader {
	position: relative;
   	top: 30%;                     
}

.catheader.a {
	position: relative;
   	top: 10%;                     
}

.catheader.c {
	position: relative;
   	top: 10%;                     
}

.catbody {
	margin-top: 20px;
}

.catbody > span.icon-activity{
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 10px;
}

.catbody > span.icon-blank{
	margin-top: 15px;
	color: white;
}

.catbody > span.glyphicon.habit-color-blue {
	color: #0080FF;
	opacity: 0.6;
}

.catbody > span.glyphicon.habit-color-green {
	color: #0db40d;
	opacity: 0.6;
}

.catbody > span.glyphicon.habit-color-yellow {
	color: #ffe910;
	opacity: 0.6;
}

.catbody > a {
	color: #545454;
}

.catbody.a > a:hover {
	color: #0080FF;
	text-decoration: none;
}

.catbody.b > a:hover {
	color: #0db40d;
	text-decoration: none;
}

.catbody.c > a:hover {
	color: #ffe910;
	text-decoration: none;
}

.catbody.d > a:hover {
	color: #FF7F00;
	text-decoration: none;
}

.catbody.e > a:hover {
	color: #d43434;
	text-decoration: none;
}

#category-details-drawer {
	height: 150px;
}

#activities-list {
	font-size: 16px;
	margin-left: 15px;
}

#charts {
	margin-left: 0px;
}

#habit-filter {
	margin-left: 10px;
}

#filename-span {
    margin-top: 10px;
    margin-bottom: 10px;
}

#undefined-counter {
	font-style: italic;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#pagination-row {
	max-width: 1025px;
}

#pagination-list > li {
	font-size: 11px;
	font-weight: bold;
}

#pagination-list > li > a {
	margin-bottom: 5px;
}

#edit-profile-hidden-activities-form {
	max-width: 450px;
}

#edit-profile-form {
	min-width: 400px;
}

.datastructure-form-class {
	margin-left: 10px;
	margin-bottom: 10px;
	width: 250px;
}

.thumbnail.stats {
	margin-left: 15px;
	height: 250px;
	margin-top: -15px;
}

.stats-header {
	color: black;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	vertical-align: middle;
	height: 5%;
	padding: 0px;
	border: none;
	opacity: 0.75;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	display: inline-block;
	margin-top: -52px;
	margin-left: -10px;
}

.stats-header-content{
	display: inline-block;
	color: #696969;
}

.stats-header-content.icon{
	width: 40px;
	text-align: center;
}

.stats-header-content.pillars.reading{
	background-color: #0080FF;
	text-align: center;
	color: #0080FF;
	width: 85px;
	margin-left: 10px;
	margin-right: 15px;
	margin-top: -47px;
}

.stats-header.reading > .stats-header-content.pillars.reading:hover {
	color: white;
	background-color: #0080FF;
	text-decoration: none;
}

.stats-header-content.pillars.code{
	background-color: #0080FF;
	text-align: center;
	color: #0080FF;
	width: 85px;
	margin-left: 10px;
	margin-right: 15px;
}

.stats-header.code > .stats-header-content.pillars.code:hover {
	color: white;
	background-color: #0080FF;
	text-decoration: none;
}

.stats-header-content.pillars.physical{
	background-color: #089308;
	text-align: center;
	color: #089308;
	width: 85px;
	margin-left: 10px;
	margin-right: 15px;
}

.stats-header.physical > .stats-header-content.pillars.physical:hover {
	color: white;
	background-color: #089308;
	text-decoration: none;
}

.stats-header-content.pillars.habits.a{
	background-color: #0080FF;
	text-align: center;
	color: #0080FF;
	width: 85px;
	margin-left: 10px;
	margin-right: -12px;
}

.stats-header-content.pillars.habits.b{
	background-color: #089308;
	text-align: center;
	color: #089308;
	width: 85px;
	margin-left: 10px;
	margin-right: -12px;
}

.stats-header-content.pillars.habits.c{
	background-color: #FF7F00;
	text-align: center;
	color: #FF7F00;
	width: 85px;
	margin-left: 10px;
	margin-right: 15px;
}

.stats-header.habits > .stats-header-content.pillars.habits.a:hover {
	color: white;
	background-color: #0080FF;
	text-decoration: none;
}

.stats-header.habits > .stats-header-content.pillars.habits.b:hover {
	color: white;
	background-color: #089308;
	text-decoration: none;
}

.stats-header.habits > .stats-header-content.pillars.habits.c:hover {
	color: white;
	background-color: #FF7F00;
	text-decoration: none;
}

.stats-header-content.details{
	margin-right: 10px;
}

.border{
	border-bottom-style: solid;
	border-bottom-color: #fafafa;
	margin-top: -19px;
	margin-left: -20px;
	margin-right: -20px;
}

.stats-body {
	margin-top: 5px;
	height: 95%;
	font-size: 16px;
	vertical-align: middle;
}

.stats-body-content {
	margin-top: 20px;
}

.total_bookmarks {
	font-size: 65px;
	color: #656565;
	opacity: .8;
	text-align: center;
}

.total_bookmarks_copy {
	font-size: 12px;
	margin-top: -10px;
	text-align: center;
}

.col-xs-6.starred_articles {
	margin-top: 10px;
}

.starred_articles {
	font-size: 14px;
	display: inline-block;
}

a { color: inherit; } 

.glyphicon.glyphicon-star {
	color: #ffd700;
	margin-right: 5px;
}

#myLineChart {
	margin-top: -60px;
}

#mySleepPieChart {
	margin-top: 0px;
	margin-left: -50px;
}

@media all and (max-width: 991px) { /* screen size until 500px */
    body {
    	margin-left: 5px;
    	margin-right: 0px;
    }
	.thumbnail.stats {
		height: 500px;
		margin-right: -50px;
	}
	.stats-header-content {
		display: inline-block;
		margin-top: 6px;
	}
	.starred_articles {
		text-align: center;
	}
	.col-sm-3.days_read_this_month {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#mySleepPieChart {
		margin-top: 0px;
		margin-left: 0px;
	}
}

@media all and (max-width: 500px) { /* screen size until 500px */
    body {
    	margin-left: 5px;
    	margin-right: 0px;
    }
    .navbar {
    	height: 40px;
    }
    #nav-title {
        font-size: 0.8em; /* 0.8x default size */
    }
    #nav-header {
		margin-top: 7px;
	}
	#account-button-pull {
		text-align: center;
	}
	.thumbnail.stats {
		margin-left: -6px;
		height: 500px;
	}
	.stats-header-content {
		display: inline-block;
		margin-top: 6px;
	}
	.starred_articles {
		text-align: center;
	}
	.col-sm-3.days_read_this_month {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	#mySleepPieChart {
		margin-top: 0px;
		margin-left: 0px;
	}
}