#nav-title {
	font-weight: bold;
	margin-bottom: -5px;
}

.navbar {
	height: 60px;
}

#nav-header {
	margin-top: 9px;
	margin-left: 20px;
	font-size: 18px;
}

#nav-title-powered {
	vertical-align: text-top;
	font-style: italic;
	font-size: 11px;
	display:inline-block;
	margin-left: 23px;
}

#coach-logo {
	width: 20px;
	display:inline-block;
	margin-left: 5px;
}

#account-button {
	margin-top: 10px;
}

.dropdown-menu {
	background-color: #fafafa;
    left: auto;
    min-width: 125px;
    max-width: 150px;
}

.dropdown-menu > li > a > p {
	margin-top: 7px;
}

#filter-tags {
	margin-left: 50px;
	max-width: 1000px
}

body {
	margin-top: 75px;
	margin-left: 50px;
	color: #3f3f3f;
	background-color: #fafafa;
}

#login {
	max-width: 400px;
}

#register {
	max-width: 400px;
}

.error {
	color: red;
}

.headline {
	font-size: 16px;
	margin-bottom: 10px;
}

.thumbnail {
	margin-left: 30px;
	max-width: 1025px;
	padding: 20px;
}

#activities-list {
	max-width: 1025px;
	margin-left: 15px;
	font-size: 16px;
}

#habit-filter {
	margin-left: 10px;
}

#filename-span {
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#pagination-row {
	max-width: 1025px;
}

#pagination-list > li {
	font-size: 9px;
}

@media all and (max-width: 500px) { /* screen size until 500px */
    body {
    	margin-left: 5px;
    }
    #nav-title {
        font-size: 0.8em; /* 0.8x default size */
    }
    #nav-header {
		margin-top: 7px;
	}
}