#background-image {
  position: fixed; 
  top: 0; 
  left: 0; 
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  -webkit-filter: blur(0px);
  background-size: cover;
}

#nav-title {
	margin-top: 5px;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	color: #545454;
}

#nav-title > a {
  text-decoration: none;
  color: #545454;
}

.navbar {
	height: 60px;
}

#nav-header {
	margin-top: 9px;
	margin-left: 20px;
	font-size: 18px;
}

#account-setting-man {
	text-decoration: none;
  	color: #545454;
}

#account-button {
	margin-top: 20px;
}

#account-button > div > div > div {
	display: inline-block;
	white-space: nowrap;
}

.dropdown-menu {
	background-color: #fafafa;
    left: auto;
    min-width: 125px;
    max-width: 150px;
}

.dropdown-menu > li > a > p {
	margin-top: 7px;
}

#filter-tags {
	margin-left: 50px;
	max-width: 1000px
}

body {
	margin-top: 75px;
	margin-left: 25px;
	margin-right: 10px;
	color: #545454;
	background-color: #fafafa;
}

.link-logos {
	display: inline-block;
	white-space: nowrap;
}

.link-logo {
	width: 20px;
}

.div.hidden {
   display: none
}

#login {
	max-width: 400px;
}

#register {
	max-width: 400px;
}

.error {
	color: red;
}

#complete-checkmark-csv {
	color: #3c763d;
}

#complete-checkmark-xml {
	color: #3c763d;
}

.headline {
	font-size: 16px;
	margin-bottom: 10px;
	margin-left: 10px;
}

.thumbnail {
	margin-left: 15px;
	max-width: 1050px;
	padding: 20px;
}

.thumbnail.edit-profile {
	max-width: 450px;
}

.thumbnail.index {
	margin-left: 15px;
	width: 200px;
	height: 300px;
	display:inline-block;
	margin-top: 20px;
}

.category-header {
	color: white;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	height: 30%;
	margin: -20px;
	padding: 0px;
	border: none;
	opacity: 0.75;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.category-body {
	margin-top: 5px;
	height: 70%;
	font-size: 16px;
	vertical-align: middle;
}

.category-header.category-a{
	background-color: #0080FF;
}

.category-header.category-b{
	background-color: #0db40d;
}

.category-header.category-c{
	background-color: #ffe910;
}

.category-header.category-d{
	background-color: #FF7F00;
}

.category-header.category-e{
	background-color: #d43434;
}

.catheader {
	position: relative;
   	top: 30%;                     
}

.catheader.a {
	position: relative;
   	top: 10%;                     
}

.catheader.c {
	position: relative;
   	top: 10%;                     
}

.catbody {
	margin-top: 20px;
}

.catbody > span.icon-activity{
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 10px;
}

.catbody > span.icon-blank{
	margin-top: 15px;
	color: white;
}

.catbody > span.glyphicon.habit-color-blue {
	color: #0080FF;
	opacity: 0.6;
}

.catbody > span.glyphicon.habit-color-green {
	color: #0db40d;
	opacity: 0.6;
}

.catbody > span.glyphicon.habit-color-yellow {
	color: #ffe910;
	opacity: 0.6;
}

.catbody > a {
	color: #545454;
}

.catbody.a > a:hover {
	color: #0080FF;
	text-decoration: none;
}

.catbody.b > a:hover {
	color: #0db40d;
	text-decoration: none;
}

.catbody.c > a:hover {
	color: #ffe910;
	text-decoration: none;
}

.catbody.d > a:hover {
	color: #FF7F00;
	text-decoration: none;
}

.catbody.e > a:hover {
	color: #d43434;
	text-decoration: none;
}

#category-details-drawer {
	height: 150px;
}

#activities-list {
	font-size: 16px;
	margin-left: 15px;
}

#charts {
	margin-left: 0px;
}

#habit-filter {
	margin-left: 10px;
}

#filename-span {
    margin-top: 10px;
    margin-bottom: 10px;
}

#undefined-counter {
	font-style: italic;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#pagination-row {
	max-width: 1025px;
}

#pagination-list > li {
	font-size: 11px;
	font-weight: bold;
}

#pagination-list > li > a {
	margin-bottom: 5px;
}

#edit-profile-hidden-activities-form {
	max-width: 450px;
}

#edit-profile-form {
	min-width: 400px;
}

.datastructure-form-class {
	margin-left: 10px;
	margin-bottom: 10px;
	width: 250px;
}

#index-header {
	margin-left: 35px;

}

#header-hello {
	font-size: 70px;
}

#header-copy {
	font-size: 40px;
}

#header-hello-hp {
	font-size: 70px;
	color: white;
}

#header-copy-hp {
	font-size: 40px;
	color: white;
}

.container.index {
	margin-left: -25px;
	margin-bottom: 50px;
}

.col-xs-1.pillars {
	padding-left: 0px;
}

.col-xs-1.icons {
	padding-left: 60px;
}

.glyphicon.icon {
	color: #078c07;
	opacity: .5;
}

#github-logo {
	margin-left: -3px;
}



.glyphicon.glyphicon-apple {
	font-size: 18px;
	margin-left: -3px;
}

.stats-header-content.pillars {
	width: 35px;
	height: 210px;
}

.stats-header-content.pillars.reading {
	background-color: #e5e3e2;
	color: #e5e3e2;
	opacity: .5;
}

.stats-header-content.pillars.code{
	background-color: #e5e3e2;
	color: #e5e3e2;
	opacity: .5;
}

.stats-header-content.pillars.physical{
	background-color: #e5e3e2;
	color: #e5e3e2;
	opacity: .5;
}

.stats-header-content.pillars.habits {
	width: 35px;
	height: 210px;
}

.stats-header-content.pillars.habits.a{
	background-color: #e5e3e2;
	color: #e5e3e2;
	opacity: .5;
}

.stats-header-content.pillars.habits.b{
	background-color: #b7b5b4;
	color: #b7b5b4;
	opacity: .5;
}

.stats-header-content.pillars.habits.c{
	background-color: #a4a2a2;
	color: #a4a2a2;
	opacity: .5;
}

.stats-body {
	font-size: 10px;
}

.total_bookmarks {
	font-size: 55px;
	margin-top: 20px;
	text-align: center;
}

.total_bookmarks_copy {
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

.col-md-3.days_read_this_month {
	margin-top: 25px;
}

.starred-row {
	
}

.all_starred_artiles {
	margin-top: 25px;
}

.starred_articles {
	font-size: 14px;
	font-weight: bold;
	display: inline-block;
	margin-top: 5px;
}

.glyphicon.glyphicon-star {
	opacity: .6;
}

.reading_streak {
	font-size: 14px;
	font-weight: bold;
}

#streak_url {
	color: #fbc83e;
	opacity: .6;
}

a { color: inherit; }

.glyphicon {
	color: grey;
}

.glyphicon.glyphicon-star {
	color: #ffd700;
	margin-right: 5px;
}

#myPieChart {
	margin-top: 10px;
	opacity: .6;
}

#mySleepPieChart {
	margin-top: 20px;
	margin-left: -50px;
	opacity: .6;
}

#myStepLineChart {
	opacity: .6;
}

#average_step_copy {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

#nights_slept_copy {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-left: -25px;
}

#section {
	margin-bottom: 50px;
	max-width: 1000px;
}

#streaks-list {
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-left: -25px;
}

#myStreakLineChart {
	transform: rotate(90deg);
	margin-top: -90px;
	opacity: .6;
}

#myDailyHabitsLineChart {
	opacity: .7;
}

#daily-habits-copy {
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	margin-left: 65px;
}

#portfolio-image {
	max-width: 350px;
}

@media all and (max-width: 500px) { /* screen size until 500px */
    body {
    	margin-left: 0px;
    	margin-right: 0px;
    }
    .navbar {
    	height: 40px;
    }
    #nav-title > a {
        font-size: 20px; /* 0.8x default size */
    }
    #nav-header {
		margin-top: 7px;
	}
	.starred_articles {
		text-align: center;
	}
	#mySleepPieChart {
		margin-left: 20px;
	}
	#section {
		margin-left: 15px;
	}
}